[user]
	name = Nathan Walther
[core]
	editor = atom -w
	excludesfile = /Users/nwalther/.gitignore
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	ff = merge --ff-only
	fpa = fetch --prune --all
	lg  = log --graph --pretty=format:'%x09%Cblue%h%Creset %s %C(dim green)%an (%cr)%Creset%Cred%d%Creset' -n30
	lga = log --graph --pretty=format:'%x09%Cblue%h%Creset %s %C(dim green)%an (%cr)%Creset%Cred%d%Creset' -n30 --all
	pop = stash pop --index --quiet
	sh = show -s
	st = status -sb
	unstage = reset HEAD --
	update = update-index --again
	rv = remote -v
[include]
	path = ~/.gitconfig.local
