[user]
	name = Nathan Walther
	# email is set in ~/.gitconfig-local

[core]
	excludesfile = ~/.gitignore

[credential]
	helper = osxkeychain

[alias]
	cm = commit -m
	ff = merge --ff-only
	fpa = fetch --prune --all
	logpretty = log --pretty=format:'%x09%Cblue%h%Creset %s %C(dim green)%an (%cr)%Creset%Cred%d%Creset'
	lg  = logpretty --graph
	lga = logpretty --graph --all
	rlg = logpretty --walk-reflogs
	sh = show --no-patch
	st = status --short --branch
	rv = remote --verbose
	rs = restore --staged

[advice]
	detachedHead = false
	statusHints = false
	resolveConflict = false

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig-local

